:root {
  --color1: #765026;
  --color2: #b18d6573;
}

/*Styling for the header*/
header a {
  text-decoration: none;
  color: black;
}
header {
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.siteName {
  font-size:x-large;
}
#tools {
  text-align: right;
  vertical-align:middle;
}

/*Styling for the Navigation*/
nav {
  background-color: black;
}
nav ul{
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  padding: .5rem;
  margin: auto;
}
nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}
nav ul li:hover {
  background-color: grey;
}
nav ul li:active {
  background-color: grey;
}
/*Styling for the main page body*/
body h2 {
  text-align: center;
}
div#hero img {
  width: 70%;
}
div#hero {
  position: relative;
  text-align: right;
}
div#features {
  background: var(--color2);
  position: absolute;
  bottom: 8px;
  left: 10px;
  text-align: center;
  border: solid var(--color1);
}
div#features ul {
  list-style: none;
  text-align: center;
  padding: 0rem 1rem;
}
button {
  margin-bottom: 0.5rem;
  color: black;
  font-weight: 700;
  background: var(--color2);
  border-radius: 8px;
  border: 3px solid var(--color1);
}
main > div {
  margin-top: 2rem;
}
div#reviews ul li {
  padding: 0.5rem;
}
div#upgradeBoxes div {
  background: var(--color2);
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  width: 30%;
  height: auto;
  padding: 0.5rem;
  flex-wrap: wrap;
  border: solid var(--color1);
}
div#upgradeBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div#upgradeBoxes a {
  text-decoration: none;
  color: black;
}
body {
  font-family: math;
}

/*STYLING FOR THE INV TYPES PAGES*/
main h1{
  text-align: center;
  width: 100%;
}

#inv-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#inv-display li{
  list-style: none;
  margin: 10px;
  text-align: center;
  padding: 20px;
  max-width: 200px;
  border: 5px solid var(--color2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#inv-display li a{
  text-decoration: none;
  color: black;
}

#inv-display li hr{
  border-top: 5px solid var(--color1)
}

/*STYLING FOR PRODUCT DETAILS PAGES*/
#details {
  text-align: center;
  padding: 30px;
}

#details-info {
  text-align: left;
}

/*STYLING FOR LOGIN AND REGISTRATION PAGES*/
.formPage {
  background: var(--color2);
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 2rem;
  border: 5px solid var(--color1);
}

.myForm {
  display: flex;
  flex-direction: column;
}

form label {
  text-align: left;
  padding-top: 1rem;
  font-size: 1.5rem;
}

form input {
  font-size: 1.5rem;
}

form button {
  font-size: 1.5rem;
}

form div {
  padding: 1rem;
}

#registerPage {
  background: var(--color2);
  text-align: center;
  width: 50%;
  margin: auto;
  padding: 2rem;
  border: 5px solid var(--color1);
}

#registerForm {
  display: flex;
  flex-direction: column;
}

/*STYLING FLASH MESSAGES*/
.errors {
  list-style: none;
  text-align: center;
  padding: 0;
}

.errors li {
  margin: auto;
  margin-bottom: .5rem;
  padding: 0.25rem;
  background: lightsalmon;
  border: 2px solid red;
  border-radius: 10px;
  width: 50%;
}

.success {
  list-style: none;
  text-align: center;
  padding: 0;
}

.success li {
  margin: auto;
  margin-bottom: .5rem;
  padding: 0.25rem;
  background: rgb(187, 248, 155);
  border: 2px solid rgb(127, 209, 95);
  border-radius: 10px;
  width: 50%;
}

/*Styling for browsers*/
@media only screen and (min-width: 983px) {
  body {
      max-width: 805px;
      margin: auto;
      margin-top: 75px;
      margin-bottom: 75px;
      background-color: white;
      padding: 2rem;
      border: solid var(--color1) 20px;
  }
  html {
    background-image: url('../images/site/small_check.jpg');
  }
  #homePage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #reviews {
    max-width: 40%;
    order: 4;
  }
  #upgrades {
    max-width: 40%;
  }
}