<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')  
} %>

<%- messages() %>

<div id="managmentView">
    <a href="/inv/classification">Add New Classification</a>
    <a href="/inv/addInventory">Add New Vehicle</a>
</div>