<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<ul>
    <li><a href="/message/new">Create New Message</a></li>
    <li><a href="/message/archive">View <%- archived %> Archived Messages</a></li>
</ul>

<%- messageTable %>
    
    